.contactDesc {
    font-size: 1rem;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0 20px 20px;
}

.title {
    font-weight: 600;
    font-size: 50px;
    margin: 40px 20px 10px;
}

#contactSection {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    max-width: 75rem;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    margin-left: 70px;
}

.socialImage {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 10px 10px;
    flex-wrap: wrap;
}

.name, .email, .message {
    margin: 0.5rem;
    border: none;
    width: 100%;
    color: white;
    padding: 0.5rem 1rem;
    font-size: medium;
    max-width: 40rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}

.btn {
    margin: 10px 80px 30px;

}

.links {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust spacing between icons */
    margin-top: 20px;
}

.social-link {
    display: inline-block;
    transition: transform 0.3s, opacity 0.3s;
    cursor: pointer; /* Indicate that the element is clickable */
}

.social-link:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.socialImage {
    width: 40px; /* Adjust size of the icons */
    height: 40px;
}

.social-link:focus {
    outline: 2px solid #000; /* Add a focus outline for accessibility */
}

